<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">PhoneShop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <% if (user && user.name) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/profile">Xin chào, <%= user.name %></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cart">Giỏ hàng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/orders">Lịch sử đơn hàng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/logout">Đăng xuất</a>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/cart">Giỏ hàng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/login">Đăng nhập</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/register">Đăng ký</a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
</header>
